- page_title '新部署密钥'
%h3.page-title 新的公开的部署密钥
%hr

%div
  = form_for [:admin, @deploy_key], html: { class: 'deploy-key-form' } do |f|
    = render partial: 'shared/deploy_keys/form', locals: { form: f, deploy_key: @deploy_key }
    .form-actions
      = f.submit 'Create', class: 'btn-create btn'
      = link_to '取消', admin_deploy_keys_path, class: 'btn btn-cancel'
