- page_title "邀请"
%h3.page-title 邀请

%p
  你被
  - if inviter = @member.created_by
    = link_to inviter.name, user_url(inviter)
  邀请加入
  - case @member.source
  - when Project
    - project = @member.source
    项目
    %strong
      = link_to project.full_name, project_url(project)
  - when Group
    - group = @member.source
    群组
    %strong
      = link_to group.name, group_url(group)
  ，身份是 #{@member.human_access}。

- is_member = @member.source.users.include?(current_user)

- if is_member
  %p
    注意，你已经是该#{@member.source.is_a?(Group) ? "群组" : "项目"}的成员。
    请使用另一个账号登录再接受邀请。

- if @member.invite_email != current_user.email
  %p
    注意，这个邀请已经发送给 #{mail_to @member.invite_email}, 但是您是通过邮箱 #{mail_to current_user.email} 登录当前账号 #{link_to current_user.to_reference, user_url(current_user)} 。

- unless is_member
  .actions
    = link_to "接受邀请", accept_invite_url(@token), method: :post, class: "btn btn-success"
    = link_to "拒绝", decline_invite_url(@token), method: :post, class: "btn btn-danger prepend-left-10"
