.detail-page-header
  .detail-page-header-body
    .snippet-box.has-tooltip.inline.append-right-5{ title: snippet_visibility_level_description(@snippet.visibility_level, @snippet), data: { container: "body" } }
      %span.sr-only
        = visibility_level_label(@snippet.visibility_level)
      = visibility_level_icon(@snippet.visibility_level, fw: false)
    %span.creator
      创建于
      = time_ago_with_tooltip(@snippet.created_at, placement: 'bottom', html_class: 'snippet_updated_ago')
      by #{link_to_member(@project, @snippet.author, size: 24, author_class: "author item-title", avatar_class: "d-none d-sm-inline")}
      = user_status(@snippet.author)

  .detail-page-header-actions
    - if @snippet.project_id?
      = render "projects/snippets/actions"
    - else
      = render "snippets/actions"

.snippet-header.limited-header-width
  %h2.snippet-title.prepend-top-0.append-bottom-0
    = markdown_field(@snippet, :title)

  - if @snippet.description.present?
    .description
      .wiki
        = markdown_field(@snippet, :description)
      %textarea.hidden.js-task-list-field
        = @snippet.description

  - if @snippet.updated_at != @snippet.created_at
    = edited_time_ago_with_tooltip(@snippet, placement: 'bottom', html_class: 'snippet-edited-ago', exclude_author: true)

  - if public_snippet?
    .embed-snippet
      .input-group
        .input-group-prepend
          %button.btn.btn-svg.embed-toggle.input-group-text{ 'data-toggle': 'dropdown', type: 'button' }
            %span.js-embed-action= _("Embed")
            = sprite_icon('angle-down', size: 12, css_class: 'caret-down')
          %ul.dropdown-menu.dropdown-menu-selectable.embed-toggle-list
            %li
              %button.js-embed-btn.btn.btn-transparent.is-active{ type: 'button' }
                %strong.embed-toggle-list-item= _("Embed")
            %li
              %button.js-share-btn.btn.btn-transparent{ type: 'button' }
                %strong.embed-toggle-list-item= _("Share")
        %input.js-snippet-url-area.snippet-embed-input.form-control{ type: "text", autocomplete: 'off', value: snippet_embed }
        .input-group-append
          = clipboard_button(title: s_('Copy to clipboard'), class: 'js-clipboard-btn snippet-clipboard-btn btn btn-default', target: '.js-snippet-url-area')
    .clearfix
