= form_for @application_setting, url: admin_application_settings_path(anchor: 'js-background-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    %p
      这些设置需要
      = link_to '重新启动', help_page_path('administration/restart_gitlab')
      以生效。
    .form-group
      .form-check
        = f.check_box :sidekiq_throttling_enabled, class: 'form-check-input'
        = f.label :sidekiq_throttling_enabled, class: 'form-check-label' do
          启用 Sidekiq 任务节流
        .form-text.text-muted
          限制缓慢运行任务的资源分配量。
    .form-group
      = f.label :sidekiq_throttling_queues, 'Sidekiq queues to throttle', class: 'label-bold'
      = f.select :sidekiq_throttling_queues, sidekiq_queue_options_for_select, { include_hidden: false }, multiple: true, class: 'select2 select-wide', data: { field: 'sidekiq_throttling_queues' }
      .form-text.text-muted
        选择哪些队列希望被节流。
    .form-group
      = f.label :sidekiq_throttling_factor, 'Throttling Factor', class: 'label-bold'
      = f.number_field :sidekiq_throttling_factor, class: 'form-control', min: '0.01', max: '0.99', step: '0.01'
      .form-text.text-muted
        那些队列被节流的决定因素。其值为 0 到 1 之间（不包含）

  = f.submit _('Save changes'), class: "btn btn-success"
