= form_for [@project.namespace.becomes(Namespace), @project, @protected_branch], html: { class: 'new-protected-branch js-new-protected-branch' } do |f|
  %input{ type: 'hidden', name: 'update_section', value: 'js-protected-branches-settings' }
  .card
    .card-header
      %h3.card-title
        保护一个分支
    .card-body
      = form_errors(@protected_branch)
      .form-group.row
        = f.label :name, class: 'col-md-2 text-right' do
          分支:
        .col-md-10
          = render partial: "projects/protected_branches/shared/dropdown", locals: { f: f }
          .form-text.text-muted
            = link_to '通配符', help_page_path('user/project/protected_branches', anchor: 'wildcard-protected-branches')
            支持比如
            %code *-stable
            或
            %code production/*
            。
      .form-group.row
        %label.col-md-2.text-right{ for: 'merge_access_levels_attributes' }
          允许合并到:
        .col-md-10
          = yield :merge_access_levels
      .form-group.row
        %label.col-md-2.text-right{ for: 'push_access_levels_attributes' }
          允许推送到:
        .col-md-10
          = yield :push_access_levels

    .card-footer
      = f.submit '保护', class: 'btn-create btn', disabled: true
