= form_for [@project.namespace.becomes(Namespace), @project, @trigger], html: { class: 'gl-show-field-errors' } do |f|
  = form_errors(@trigger)

  - if @trigger.token
    .form-group
      %label.label-bold Token
      %p.form-control-plaintext= @trigger.token
  .form-group
    = f.label :key, "描述", class: "label-bold"
    = f.text_field :description, class: "form-control", required: true, title: 'Trigger description is required.', placeholder: "触发器描述"
  = f.submit btn_text, class: "btn btn-save"
