- type = impersonation ? "扮演" : "个人访问"
%hr

%h5 活动的 #{type} 令牌 (#{active_tokens.length})
- if impersonation
  %p.profile-settings-content
    要查看所有用户的个人访问令牌，您必须首先扮演成他们。

- if active_tokens.present?
  .table-responsive
    %table.table.active-tokens
      %thead
        %tr
          %th 名称
          %th 创建于
          %th 过期于
          %th 范围
          - if impersonation
            %th 令牌
          %th
      %tbody
        - active_tokens.each do |token|
          %tr
            %td= token.name
            %td= token.created_at.to_date.to_s(:medium)
            %td
              - if token.expires?
                %span{ class: ('text-warning' if token.expires_soon?) }
                  于 #{distance_of_time_in_words_to_now(token.expires_at)}
              - else
                %span.token-never-expires-label 永不
            %td= token.scopes.present? ? token.scopes.join(", ") : "<no scopes selected>"
            - if impersonation
              %td.token-token-container
                = text_field_tag 'impersonation-token-token', token.token, readonly: true, class: "form-control"
                = clipboard_button(text: token.token)
            - path = impersonation ? revoke_admin_user_impersonation_token_path(token.user, token) : revoke_profile_personal_access_token_path(token)
            %td= link_to "撤销", path, method: :put, class: "btn btn-danger float-right", data: { confirm: "您确定要撤销这个 #{type} 令牌? 该操作无无法恢复。" }
- else
  .settings-message.text-center
    该用户没有活动的 #{type} 令牌。
