= form.label :assignee_id, "指派", class: "col-form-label #{has_due_date ? "col-lg-4" : "col-sm-2"}"
.col-sm-10{ class: ("col-lg-8" if has_due_date) }
  .issuable-form-select-holder
    = form.hidden_field :assignee_id

    = dropdown_tag(user_dropdown_label(issuable.assignee_id, "指派给"), options: { toggle_class: "js-dropdown-keep-input js-user-search js-issuable-form-dropdown js-assignee-search", title: "选择指派", filter: true, dropdown_class: "dropdown-menu-user dropdown-menu-selectable dropdown-menu-assignee js-filter-submit",
      placeholder: "搜索指派", data: { first_user: current_user.try(:username), null_user: true, current_user: true, project_id: issuable.project.try(:id), selected: issuable.assignee_id, field_name: "#{issuable.class.model_name.param_key}[assignee_id]", default_label: "Assignee"} })
  = link_to '指派给自己', '#', class: "assign-to-me-link #{'hide' if issuable.assignee_id == current_user.id}"
