%ul.nav-links.no-top.no-bottom.commit-ci-menu.nav.nav-tabs
  = nav_link(path: 'commit#show') do
    = link_to project_commit_path(@project, @commit.id) do
      变更
      %span.badge.badge-pill= @diffs.size
  - if can?(current_user, :read_pipeline, @project)
    = nav_link(path: 'commit#pipelines') do
      = link_to pipelines_project_commit_path(@project, @commit.id) do
        流水线
        %span.badge.badge-pill.js-pipelines-mr-count= @commit.pipelines.size
