.user_new
  = form_for [:admin, @user], html: { class: 'fieldset-form' } do |f|
    = form_errors(@user)

    %fieldset
      %legend 账号
      .form-group.row
        .col-sm-2.text-right
          = f.label :name, class: 'col-form-label'
        .col-sm-10
          = f.text_field :name, required: true, autocomplete: 'off', class: 'form-control'
          %span.help-inline * 必须填写
      .form-group.row
        .col-sm-2.text-right
          = f.label :username, class: 'col-form-label'
        .col-sm-10
          = f.text_field :username, required: true, autocomplete: 'off', autocorrect: 'off', autocapitalize: 'off', spellcheck: false, class: 'form-control'
          %span.help-inline * 必须填写
      .form-group.row
        .col-sm-2.text-right
          = f.label :email, class: 'col-form-label'
        .col-sm-10
          = f.text_field :email, required: true, autocomplete: 'off', class: 'form-control'
          %span.help-inline * 必须填写

    - if @user.new_record?
      %fieldset
        %legend 密码
        .form-group.row
          .col-sm-2.text-right
            = f.label :password, class: 'col-form-label'
          .col-sm-10
            %strong
              重置链接将自动生成临时密码发送给用户。
              %br
              用户在第一次登录后需要强制修改密码。
    - else
      %fieldset
        %legend 密码
        .form-group.row
          .col-sm-2.text-right
            = f.label :password, class: 'col-form-label'
          .col-sm-10= f.password_field :password, disabled: f.object.force_random_password, class: 'form-control'
        .form-group.row
          .col-sm-2.text-right
            = f.label :password_confirmation, class: 'col-form-label'
          .col-sm-10= f.password_field :password_confirmation, disabled: f.object.force_random_password, class: 'form-control'

    = render partial: 'access_levels', locals: { f: f }

    %fieldset
      %legend 个人资料
      .form-group.row
        .col-sm-2.text-right
          = f.label :avatar, class: 'col-form-label'
        .col-sm-10
          = f.file_field :avatar

      .form-group.row
        .col-sm-2.text-right
          = f.label :skype, class: 'col-form-label'
        .col-sm-10= f.text_field :skype, class: 'form-control'
      .form-group.row
        .col-sm-2.text-right
          = f.label :linkedin, class: 'col-form-label'
        .col-sm-10= f.text_field :linkedin, class: 'form-control'
      .form-group.row
        .col-sm-2.text-right
          = f.label :twitter, class: 'col-form-label'
        .col-sm-10= f.text_field :twitter, class: 'form-control'
      .form-group.row
        .col-sm-2.text-right
          = f.label :website_url, 'Website', class: 'col-form-label'
        .col-sm-10= f.text_field :website_url, class: 'form-control'

    .form-actions
      - if @user.new_record?
        = f.submit '创建用户', class: "btn btn-create"
        = link_to '取消', admin_users_path, class: "btn btn-cancel"
      - else
        = f.submit '保存修改', class: "btn btn-save"
        = link_to '取消', admin_user_path(@user), class: "btn btn-cancel"
